<a href="https://colab.research.google.com/github/ahmedmoheb1/ML-Projects/blob/main/bankLoanProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC

In [ ]:
test = pd.read_csv('/content/Bank_Loan_classification.csv',encoding = 'ISO-8859-1')

Income : Annual Income

ZIP Code : Home Address Zip Code

Family : Family size of the customer

CCAvg : Avg. Spending on Credit Card per Month

Education : Education Level. 1: Undergrad; 2: Graduate; 3: Advanced / Professional

Mortgage : Value of house mortgage if any.

Securities Account : Does the customer have a securities account with the bank?

Online : Does the customer use internet banking facilities?

Credit card : Does the customer use a credit card issued by this Bank?

Personal Loan : Did this customer accept the personal loan offered in the last campaign? (Target)

In [ ]:
test.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1.0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1.0,0,0
2,3,39,15,11,94720,1,1,1,0,0,0.0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0.0,0,0
4,5,35,8,45,91330,4,1,2,0,0,0.0,0,1

In [ ]:
test.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4995    False
4996    False
4997    False
4998    False
4999    False
Length: 5000, dtype: bool

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   int64
 1   Age                 5000 non-null   object
 2   Experience          5000 non-null   object
 3   Income              5000 non-null   int64
 4   ZIP Code            4999 non-null   object
 5   Family              5000 non-null   int64
 6   CCAvg               4998 non-null   object
 7   Education           5000 non-null   int64
 8   Mortgage            4999 non-null   object
 9   Personal Loan       5000 non-null   object
 10  Securities Account  4997 non-null   float64
 11  Online              5000 non-null   object
 12  CreditCard          4998 non-null   object
dtypes: float64(1), int64(4), object(8)
memory usage: 507.9+ KB

In [ ]:
test.isnull().sum().sort_values(ascending = False)

Securities Account    3
CCAvg                 2
CreditCard            2
ZIP Code              1
Mortgage              1
ID                    0
Age                   0
Experience            0
Income                0
Family                0
Education             0
Personal Loan         0
Online                0
dtype: int64

In [ ]:
test['CCAvg'].unique()

array(['1.6', '1.5', '1', '2.7', '0.4', '0.3', '0.6', '8.9', '2.4', '0.1',
       '3.8', '2.5', '2', '4.7', '8.1', '0.5', '0.9', '1.2', '0.7', '3.9',
       '0.2', '2.2', '3.3', '1.8', '2.9', '1.4', '5', '2.3', '1.1', '5.7',
       '4.5', '2.1', '8', '1.7', '0', '2.8', '3.5', '4', '2.6', '1.3',
       '5.6', '5.2', '3', '4.6', '3.6', '7.2', '1.75', '7.4', '2.67',
       '7.5', '6.5', '7.8', '7.9', '4.1', '1.9', '4.3', '6.8', '5.1',
       '3.1', '0.8', '3.7', '6.2', '0.75', '2.33', '4.9', '0.67', '3.2',
       '5.5', '6.9', '4.33', '7.3', '4.2', '4.4', '6.1', '6.33', '6.6',
       '5.3', '3.4', '7', '6.3', '8.3', '6', nan, '1.67', '8.6', '7.6',
       '6.4', '10', '5.9', '5.4', '8.8', '3,6', '1.33', '9', '6.7',
       '4.25', '6.67', '5.8', '4.8', '3.25', '5.67', '8.5', 'Nan', 'Null',
       '?', '4.75', '4.67', '3.67', '8.2', '3.33', '5.33', '9.3', '2.75'],
      dtype=object)

In [ ]:
test['CCAvg'].replace(['Nan'],test['CCAvg'].mode()[0],inplace=True)
test['CCAvg'].replace([np.nan],test['CCAvg'].mode()[0],inplace=True)
test['CCAvg'].replace(['Null'],test['CCAvg'].mode()[0],inplace=True)
test['CCAvg'].replace(['?'],test['CCAvg'].mode()[0],inplace=True)

In [ ]:
test['CreditCard'].fillna(test['CreditCard'].mode()[0],inplace=True)

In [ ]:
test['Mortgage'].unique()

array(['0', '155', '104', '134', '111', '260', '163', '159', '97', '122',
       '193', '198', '285', '412', '153', '211', '207', '240', '455',
       '112', '336', '132', '118', '174', '126', '236', '166', '136',
       '309', '103', '366', '101', '251', '276', '161', '149', '188',
       '116', '135', '244', '164', '81', '315', '140', '95', '89', '90',
       '105', '100', '282', '209', '249', '91', '98', '145', '150', '169',
       '280', '99', '78', '264', '113', '117', '325', '121', '138', '77',
       '158', '109', '131', '391', '88', '129', '196', '617', '123',
       '167', '190', '248', '82', '402', '360', '392', '185', 'Nan',
       '419', '270', '148', '466', '175', '147', '220', '133', '182',
       '290', '125', '124', '224', '141', '119', '139', '115', '458',
       '172', '156', '547', nan, '470', '304', '221', '108', '179', '271',
       '378', '176', '76', '314', '87', '203', '180', '230', '137', '152',
       '485', '300', '272', '144', '94', '208', '275', '83', '218', '327',
       '322', '205', '227', '239', '85', '160', '364', '449', '75', '107',
       '92', '187', '355', '106', '587', '214', '307', '263', '310',
       '127', '252', '170', '265', '177', '305', '372', '79', '301',
       '232', '289', '212', '250', '84', '130', '303', '256', '259',
       '204', '524', '157', '231', '287', '205,5', '247', '333', '229',
       '357', '361', '294', '86', '329', '142', '184', '442', '233',
       '215', '394', '475', '197', '228', '297', '128', '241', '437',
       '178', '428', '162', '234', '257', '219', '337', '382', '397',
       '181', '120', '380', '200', '433', '222', '483', '154', '171',
       '146', '110', '201', '277', '268', '237', '102', '93', '354',
       '195', '194', '238', '226', '318', '342', '266', '114', '245',
       '341', '421', '359', '565', '319', '151', '267', '601', '567',
       '352', '284', '199', '80', '334', '389', '186', '246', '589',
       '242', '143', '323', '535', '293', '398', '343', '255', '311',
       '446', '223', '262', '422', '192', '217', '168', '299', '505',
       '400', '165', '183', '326', '298', 'Not Found', '569', '374',
       '216', '191', '408', '406', '452', '432', '312', '477', '396',
       '582', '358', '213', '467', '331', '295', '235', '635', '385',
       '328', '522', '496', '415', '461', '344', '206', '368', '321',
       '296', '373', '292', '383', '427', '189', '202', '96', '429',
       '431', '286', '508', '210', '416', '553', '403', '225', '500',
       '313', '410', '273', '381', '330', '345', '253', '258', '351',
       '353', '308', '278', '464', '509', '243', '173', '481', '281',
       '306', '577', '302', '405', '571', '581', '550', '283', '612',
       '590', '541'], dtype=object)

In [ ]:
test['Mortgage'].replace(['Not Found'],test['Mortgage'].mode()[0],inplace=True)
test['Mortgage'].replace(['Nan'],test['Mortgage'].mode()[0],inplace=True)
test['Mortgage'].replace([np.nan],test['Mortgage'].mode()[0],inplace=True)
test['Mortgage'].replace(['205,5'],['205.5'],inplace=True)

In [ ]:
test['Mortgage']=test['Mortgage'].astype(float)

In [ ]:
test['PrevLoan'] = 0

In [ ]:
test.loc[test['Mortgage'] > 0.,'PrevLoan'] = 1

In [ ]:
test['PrevLoan'].value_counts()

0    3464
1    1536
Name: PrevLoan, dtype: int64

In [ ]:
test.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,Online,CreditCard,PrevLoan
0,1,25,1,49,91107,4,1.6,1,0.0,0,1.0,0,0,0
1,2,45,19,34,90089,3,1.5,1,0.0,0,1.0,0,0,0
2,3,39,15,11,94720,1,1,1,0.0,0,0.0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0.0,0,0.0,0,0,0
4,5,35,8,45,91330,4,1,2,0.0,0,0.0,0,1,0

In [ ]:
test['CreditCard'].unique()

array(['0', '1', 'zero'], dtype=object)

In [ ]:
test['CreditCard'].replace(['zero'],['0'],inplace=True)

In [ ]:
test['Personal Loan'].unique()

array(['0', '1', '?'], dtype=object)

In [ ]:
test['Personal Loan'].replace(['?'],test['Personal Loan'].mode()[0],inplace=True)

In [ ]:
test['Online'].unique()

array(['0', '1', 'one'], dtype=object)

In [ ]:
test['Online'].replace(['one'],['1'],inplace=True)

In [ ]:
test['Experience'].unique()

array(['1', '19', '15', '9', '8', '13', '27', '24', '10', '39', '5', '23',
       '32', '41', '30', '14', '18', '21', '28', '31', '11', '16', '20',
       '35', '6', '25', '7', '12', '26', '37', '17', '2', '36', '29', '3',
       '22', '-1', '34', '0', '38', '40', '33', '4', '-2', 'Nan', '42',
       '-3', '43'], dtype=object)

In [ ]:
test['Experience'].replace(['Nan'],test['Experience'].mode()[0],inplace=True)
test['Experience'].replace(['-1'],test[''].mode()[0],inplace=True)
test['Experience'].replace(['-2'],test['Age'].mode()[0],inplace=True)
test['Experience'].replace(['-3'],test['Age'].mode()[0],inplace=True)

In [ ]:
test['Income'].unique()

array([ 49,  34,  11, 100,  45,  29,  72,  22,  81, 180, 105, 114,  40,
       112, 130, 193,  21,  25,  63,  62,  43, 152,  83, 158,  48, 119,
        35,  41,  18,  50, 121,  71, 141,  80,  84,  60, 132, 104,  52,
       194,   8, 131, 190,  44, 139,  93, 188,  39, 125,  32,  20, 115,
        69,  85, 135,  12, 133,  19,  82, 109,  42,  78,  51, 113, 118,
        64, 161,  94,  15,  74,  30,  38,   9,  92,  61,  73,  70, 149,
        98, 128,  31,  58,  54, 124, 163,  24,  79, 134,  23,  13, 138,
       171, 168,  65,  10, 148, 159, 169, 144, 165,  59,  68,  91, 172,
        55, 155,  53,  89,  28,  75, 170, 120,  99, 111,  33, 129, 122,
       150, 195, 110, 101, 191, 140, 153, 173, 174,  90, 179, 145, 200,
       183, 182,  88, 160, 205, 164,  14, 175, 103, 108, 185, 204, 154,
       102, 192, 202, 162, 142,  95, 184, 181, 143, 123, 178, 198, 201,
       203, 189, 151, 199, 224, 218])

In [ ]:
test['HighIncome']=0

In [ ]:
test.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,Online,CreditCard,PrevLoan,HighIncome
0,1,25,1,49,91107,4,1.6,1,0.0,0,1.0,0,0,0,0
1,2,45,19,34,90089,3,1.5,1,0.0,0,1.0,0,0,0,0
2,3,39,15,11,94720,1,1,1,0.0,0,0.0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0.0,0,0.0,0,0,0,0
4,5,35,8,45,91330,4,1,2,0.0,0,0.0,0,1,0,0

In [ ]:
test.loc[test['Income']>100,'HighIncome']=1

In [ ]:
del test['ZIP Code']
del test['Income']
del test['ID']
del test['Family']
del test['Securities Account']
del test['Online']

In [ ]:
test.head()

,Age,Experience,CCAvg,Education,Mortgage,Personal Loan,CreditCard,PrevLoan,HighIncome
0,25,1,1.6,1,0.0,0,0,0,0
1,45,19,1.5,1,0.0,0,0,0,0
2,39,15,1,1,0.0,0,0,0,0
3,35,9,2.7,2,0.0,0,0,0,0
4,35,8,1,2,0.0,0,1,0,0

In [ ]:
test['Age'].unique()

array(['25', '45', '39', '35', '?', '53', '50', '34', '65', '29', '48',
       '59', '67', '60', '38', '42', '46', '55', '56', '57', '44', '36',
       '40', '30', '31', '51', '32', '37', '61', '41', '28', '49', '47',
       '62', '58', '54', '33', '27', '43', '66', '24', '52', '26', '64',
       '63', 'Nan', '23'], dtype=object)

In [ ]:
test['Age'].replace(['Nan'],test['Age'].mode()[0],inplace=True)
test['Age'].replace(['?'],test['Age'].mode()[0],inplace=True)

In [ ]:
test['Education'].unique()

array([1, 2, 3])

In [ ]:
test.head()

,Age,Experience,CCAvg,Education,Mortgage,Personal Loan,CreditCard,PrevLoan,HighIncome
0,25,1,1.6,1,0.0,0,0,0,0
1,45,19,1.5,1,0.0,0,0,0,0
2,39,15,1,1,0.0,0,0,0,0
3,35,9,2.7,2,0.0,0,0,0,0
4,35,8,1,2,0.0,0,1,0,0

In [ ]:
scaler = MinMaxScaler()

In [ ]:
test['Age']=scaler.fit_transform(test['Age'].to_numpy().reshape(-1,1))
test['Experience']=scaler.fit_transform(test['Age'].to_numpy().reshape(-1,1))
test['Mortgage']=scaler.fit_transform(test['Age'].to_numpy().reshape(-1,1))
test['CCAvg']=scaler.fit_transform(test['Age'].to_numpy().reshape(-1,1))

In [ ]:
test.head()

,Age,Experience,CCAvg,Education,Mortgage,Personal Loan,CreditCard,PrevLoan,HighIncome
0,0.045455,0.045455,0.045455,1,0.045455,0,0,0,0
1,0.500000,0.500000,0.500000,1,0.500000,0,0,0,0
2,0.363636,0.363636,0.363636,1,0.363636,0,0,0,0
3,0.272727,0.272727,0.272727,2,0.272727,0,0,0,0
4,0.272727,0.272727,0.272727,2,0.272727,0,1,0,0

In [ ]:
y=test['Personal Loan']
del test['Personal Loan']
X= test

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,random_state=22)

In [ ]:
LogModel= LogisticRegression().fit(X_train,y_train)
print (LogModel.score(X_test,y_test))

0.942

In [ ]:
NaiveModel= GaussianNB().fit(X_train,y_train)
print (NaiveModel.score(X_test,y_test))

0.951

In [ ]:
DecTreeModel= DecisionTreeClassifier().fit(X_train,y_train)
print (DecTreeModel.score(X_test,y_test))

0.956

In [ ]:
RandTreeModel= RandomForestClassifier().fit(X_train,y_train)
print (RandTreeModel.score(X_test,y_test))

0.957

In [ ]:
GradTreeModel= GradientBoostingClassifier().fit(X_train,y_train)
print (GradTreeModel.score(X_test,y_test))

0.958

In [ ]:
SVMModel = SVC().fit(X_train,y_train)
print (SVMModel.score(X_test,y_test))

0.956